@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Sidebar Section -->
<div class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="sidebar" style="position: fixed; left: 0; height: 100%; width: 150px; background-color: #F3F3F3; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="sidebar_menu" style="margin-top: 10px;">
            <button class="menu-btn" aria-label="Home" onclick="window.location.href = '@Url.Action("Index", "Home")';">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </button>
            <button class="menu-btn" aria-label="Expenses" onclick="window.location.href = '@Url.Action("Index", "Expense")';">
                <i class="fas fa-money-bill"></i>
                <span>Expenses</span>
            </button>
            <button class="menu-btn" aria-label="Category" onclick="window.location.href = '@Url.Action("Index", "Category")';">
                <i class="fas fa-folder"></i>
                <span>Category</span>
            </button>
            <button class="menu-btn" aria-label="Report" onclick="window.location.href = '@Url.Action("Index", "Report")';">
                <i class="fas fa-chart-bar"></i>
                <span>Report</span>
            </button>
            <button class="menu-btn" aria-label="Settings" onclick="window.location.href = '@Url.Action("Index", "Settings")';">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
            </button>

            <!-- Logout button positioned at the bottom -->
            <div class="logout-container" onclick="location.href='/Account/SignOutUser';" style="cursor: pointer;">
                <button class="menu-btn logout-btn" aria-label="Logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout
                </button>
            </div>

        </div>
    </div>
</div>
